In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

C:\Users\Mudit Computer\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\Mudit Computer\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
movie=pd.read_csv('movies.csv')

In [3]:
rating=pd.read_csv('ratings.csv')

In [4]:
movie['year'] = movie['title'].str.extract(r'\((\d{4})\)$')[0]
movie['title'] = movie['title'].str.replace(r' \(\d{4}\)$', '', regex=True)

In [5]:
movie['genres'] = movie['genres'].str.replace('|', ',')

In [6]:
movie.shape

(87585, 4)

In [7]:
movie[movie['genres']=='(no genres listed)'].head(5)

,movieId,title,genres,year
15884,83773,Away with Words (San tiao ren),(no genres listed),1999
16063,84768,Glitterbug,(no genres listed),1994
16354,86493,"Age of the Earth, The (A Idade da Terra)",(no genres listed),1980
16494,87061,Trails (Veredas),(no genres listed),1978
17409,91246,Milky Way (Tejút),(no genres listed),2007

In [8]:
movie=movie[movie['genres']!='(no genres listed)']

In [9]:
movie[movie['genres']=='(no genres listed)'].head(5)

Empty DataFrame
Columns: [movieId, title, genres, year]
Index: []

In [10]:
movie['title'].isnull().sum()

0

In [11]:
movie.isnull().sum()

movieId      0
title        0
genres       0
year       398
dtype: int64

In [12]:
rating=rating[['userId','movieId','rating']]

In [13]:
rating.isnull().sum()

userId     0
movieId    0
rating     0
dtype: int64

In [14]:
movie[movie['title'].str.contains(r'\(.*?\)', regex=True,na=False)]

,movieId,title,genres,year
28,29,"City of Lost Children, The (Cité des enfants p...","Adventure,Drama,Fantasy,Mystery,Sci-Fi",1995
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao),"Crime,Drama",1995
31,32,Twelve Monkeys (a.k.a. 12 Monkeys),"Mystery,Sci-Fi,Thriller",1995
46,47,Seven (a.k.a. Se7en),"Mystery,Thriller",1995
57,58,"Postman, The (Postino, Il)","Comedy,Drama,Romance",1994
...,...,...,...,...
86363,288455,Landscape (for Manon),Documentary,1987
86402,288569,The Five(ish) Doctors Reboot,Comedy,2013
86693,289519,Kamikazen (Ultima notte a Milano),Comedy,1988
86726,289627,Blank Narcissus (Passion of the Swamp),Drama,2022
87000,290495,The (Almost) Legends,Comedy,2023

In [15]:
movie['title'] = movie['title'].str.replace(r'\s?\(.*?\)', '', regex=True)
movie.head(5)

,movieId,title,genres,year
0,1,Toy Story,"Adventure,Animation,Children,Comedy,Fantasy",1995
1,2,Jumanji,"Adventure,Children,Fantasy",1995
2,3,Grumpier Old Men,"Comedy,Romance",1995
3,4,Waiting to Exhale,"Comedy,Drama,Romance",1995
4,5,Father of the Bride Part II,Comedy,1995

In [16]:
movie=movie.merge(rating,on='movieId')

In [17]:
if 'genres' in movie.columns and 'year' in movie.columns:
    movie['tag'] = movie['genres'] + ',' + movie['year'].astype(str)
else:
    pass

In [18]:
movie.head(5)

,movieId,title,genres,year,userId,rating,tag
0,1,Toy Story,"Adventure,Animation,Children,Comedy,Fantasy",1995,10,2.5,"Adventure,Animation,Children,Comedy,Fantasy,1995"
1,1,Toy Story,"Adventure,Animation,Children,Comedy,Fantasy",1995,11,3.0,"Adventure,Animation,Children,Comedy,Fantasy,1995"
2,1,Toy Story,"Adventure,Animation,Children,Comedy,Fantasy",1995,17,4.0,"Adventure,Animation,Children,Comedy,Fantasy,1995"
3,1,Toy Story,"Adventure,Animation,Children,Comedy,Fantasy",1995,19,3.0,"Adventure,Animation,Children,Comedy,Fantasy,1995"
4,1,Toy Story,"Adventure,Animation,Children,Comedy,Fantasy",1995,20,5.0,"Adventure,Animation,Children,Comedy,Fantasy,1995"

In [19]:
movie['tag'].isnull().sum()

0

In [20]:
movie=movie[['movieId','userId','rating','title','tag','year']]

In [21]:
movie.shape,rating.shape

((31944706, 6), (32000204, 3))

In [22]:
movie.tail(5)

,movieId,userId,rating,title,tag,year
31944701,292731,50685,4.0,The Monroy Affaire,"Drama,2022",2022
31944702,292737,165364,1.5,Shelter in Solitude,"Comedy,Drama,2023",2023
31944703,292753,150812,4.0,Orca,"Drama,2023",2023
31944704,292755,91097,1.0,The Angry Breed,"Drama,1968",1968
31944705,292757,171418,3.5,Race to the Summit,"Action,Adventure,Documentary,2023",2023

In [23]:
movie['rating'].value_counts()

rating
4.0    8356872
3.0    6046002
5.0    4589827
3.5    4280506
4.5    2968212
2.0    2025295
2.5    1680799
1.0     944902
1.5     529468
0.5     522823
Name: count, dtype: int64

In [24]:
movie.isnull().sum()

movieId        0
userId         0
rating         0
title          0
tag            0
year       30820
dtype: int64

In [25]:
movie['movieId'].max()

292757

In [26]:
movie.columns

Index(['movieId', 'userId', 'rating', 'title', 'tag', 'year'], dtype='object')

In [27]:
movie_copy=movie.copy()

In [28]:
movie = movie.drop_duplicates(subset='movieId', keep='first').reset_index(drop=True)

In [29]:
movie.shape

(77877, 6)

In [30]:
movie.head(2)

,movieId,userId,rating,title,tag,year
0,1,10,2.5,Toy Story,"Adventure,Animation,Children,Comedy,Fantasy,1995",1995
1,2,3,3.5,Jumanji,"Adventure,Children,Fantasy,1995",1995

In [31]:
movie['tag'][1:5]

1    Adventure,Children,Fantasy,1995
2                Comedy,Romance,1995
3          Comedy,Drama,Romance,1995
4                        Comedy,1995
Name: tag, dtype: object

# Content-Based Filtering (CBF)¶

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

In [33]:
movie_copy.shape

(31944706, 6)

In [34]:
movie_tfidf_matrix =tfidf.fit_transform(movie_copy['tag'])
tfidf.get_feature_names_out()

array(['1874', '1878', '1880', '1882', '1885', '1887', '1888', '1889',
       '1890', '1891', '1892', '1894', '1895', '1896', '1897', '1898',
       '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906',
       '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914',
       '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922',
       '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930',
       '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938',
       '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946',
       '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954',
       '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962',
       '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021', '2022', '2023', 'action', 'adventure',
       'animation', 'children', 'comedy', 'crime', 'documentary', 'drama',
       'fantasy', 'fi', 'film', 'horror', 'imax', 'musical', 'mystery',
       'nan', 'noir', 'romance', 'sci', 'thriller', 'war', 'western'],
      dtype=object)

In [35]:
movie_tfidf_matrix.shape

(31944706, 163)

In [36]:
movie['year'] = movie['year'].fillna(0).astype(int)

In [37]:
movie.head(5)

,movieId,userId,rating,title,tag,year
0,1,10,2.5,Toy Story,"Adventure,Animation,Children,Comedy,Fantasy,1995",1995
1,2,3,3.5,Jumanji,"Adventure,Children,Fantasy,1995",1995
2,3,11,3.0,Grumpier Old Men,"Comedy,Romance,1995",1995
3,4,29,2.0,Waiting to Exhale,"Comedy,Drama,Romance,1995",1995
4,5,11,3.0,Father of the Bride Part II,"Comedy,1995",1995

In [38]:
five_star_ratings = movie[(movie['rating']>=5) & (movie['year']>1990)]

five_star_ratings

,movieId,userId,rating,title,tag,year
8,9,96,5.0,Sudden Death,"Action,1995",1995
20,21,7,5.0,Get Shorty,"Comedy,Crime,Thriller,1995",1995
29,30,1,5.0,Shanghai Triad,"Crime,Drama,1995",1995
30,31,2,5.0,Dangerous Minds,"Drama,1995",1995
31,32,1,5.0,Twelve Monkeys,"Mystery,Sci-Fi,Thriller,1995",1995
...,...,...,...,...,...,...
77755,291831,169558,5.0,Retreat to You,"Comedy,Romance,2023",2023
77784,291901,41450,5.0,Snapshot of Love,"Comedy,Romance,2022",2022
77791,291975,169558,5.0,Centurion: The Dancing Stallion,"Drama,2023",2023
77792,291977,169558,5.0,Taken In Montana,"Thriller,2023",2023
77794,291981,169558,5.0,Abducted by My Teacher: The Elizabeth Thomas S...,"Crime,Thriller,2023",2023

In [39]:
movie_user_counts = five_star_ratings.groupby('movieId')['userId'].count()
movie_user_counts

movieId
9         1
21        1
30        1
31        1
32        1
         ..
291831    1
291901    1
291975    1
291977    1
291981    1
Name: userId, Length: 3928, dtype: int64

In [40]:
movie_ids_with=movie_user_counts.index

In [41]:
movie_ids_with

Index([     9,     21,     30,     31,     32,     33,     37,     39,     48,
           51,
       ...
       291385, 291417, 291459, 291693, 291829, 291831, 291901, 291975, 291977,
       291981],
      dtype='int64', name='movieId', length=3928)

In [42]:
liked_movie_features = movie_tfidf_matrix[movie_ids_with]
user_profile = liked_movie_features.mean(axis=0)

In [43]:
profile_dense = np.array(user_profile)

In [44]:
profile_dense

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.70112948, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.1303884 , 0.15353167, 0.06996448, 0.0989005 ,
        0.15767068, 0.09134982, 0.        , 0.08989189, 0.08251123,
        0.        , 0.        , 0.00797039, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.15078901, 0.        ,
        0.12300724, 0.        , 0.        ]])

In [45]:
from sklearn.preprocessing import normalize

In [46]:
from sklearn.metrics.pairwise import cosine_similarity
cbf_score = cosine_similarity(profile_dense, movie_tfidf_matrix).flatten()

In [47]:
cbf_score

array([0.69342139, 0.69342139, 0.69342139, ..., 0.02418404, 0.03069874,
       0.07969285])

In [48]:
cbf_score.shape

(31944706,)

In [49]:
cbf_score.max(),cbf_score.min()

(0.8729334347080179, 0.0)

In [50]:
unique_cbf_score = np.unique(cbf_score)

In [51]:
unique_cbf_score=unique_cbf_score[::-1]

In [52]:
unique_cbf_score.max(),unique_cbf_score.min()

(0.8729334347080179, 0.0)

In [53]:
unique_cbf_score

array([0.87293343, 0.85474685, 0.84993087, ..., 0.00252821, 0.00250007,
       0.        ])

In [55]:
from sklearn.metrics.pairwise import cosine_similarity

def recommend(movie_name):
    index =movie[movie['title'] == movie_name].index[0]
    
    similarity_scores = cosine_similarity(movie_tfidf_matrix[index], movie_tfidf_matrix)  

    distances = sorted(list(enumerate(similarity_scores.flatten())), reverse=True, key=lambda x: x[1])
    
    for i in distances[1:11]: 
        print(movie.iloc[i[0]].title)

In [56]:
recommend('Toy Story')

Jumanji
Grumpier Old Men
Waiting to Exhale
Father of the Bride Part II
Heat
Sabrina
Tom and Huck
Sudden Death
GoldenEye
American President, The

# Collaborative Filtering (CF)

In [57]:
movie_naw=movie_copy.drop_duplicates(subset='movieId', keep='first').reset_index(drop=True)

In [58]:
movie_naw.shape

(77877, 6)

In [59]:
movie_naw.duplicated().sum()

0

In [60]:
movie_naw=movie_naw.drop_duplicates(subset='userId', keep='first').reset_index(drop=True)

In [61]:
movie_naw['userId'].duplicated().sum()

0

In [148]:
movie_naw=movie_naw.head(10000)

In [149]:
user_item_matrix = movie_naw.pivot(index='userId', columns='title', values='rating').fillna(0)
print("User-Item Interaction Matrix:")
user_item_matrix

User-Item Interaction Matrix:

title,"""BLOW THE NIGHT!"" Let's Spend the Night Together",#Female Pleasure,#FriendButMarried 2,$,$5 a Day,'85: The Greatest Team in Pro Football History,'Hellboy': The Seeds of Creation,'Salem's Lot,'Til Death Do Us Part Kourtney & Travis,'Til There Was You,...,Каникулы президента,Карусель,Королёв,Крепость: щитом и мечом,Пациенты,Поэма о крыльях,Тугой узел,ארבינקא,チェブラーシカ,ユニコ 魔法の島へ
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200443,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200809,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [150]:
from sklearn.metrics.pairwise import cosine_similarity

user_similarity = cosine_similarity(user_item_matrix)
user_similarity_df = pd.DataFrame(user_similarity, index=user_item_matrix.index, columns=user_item_matrix.index)
print("User Similarity Matrix (User-Based CF):")
print(user_similarity_df)

User Similarity Matrix (User-Based CF):
userId  1       2       3       4       5       6       7       8       \
userId
1          1.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2          0.0     1.0     0.0     0.0     0.0     0.0     0.0     0.0
3          0.0     0.0     1.0     0.0     0.0     0.0     0.0     0.0
4          0.0     0.0     0.0     1.0     0.0     0.0     0.0     0.0
5          0.0     0.0     0.0     0.0     1.0     0.0     0.0     0.0
...        ...     ...     ...     ...     ...     ...     ...     ...
200443     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
200488     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
200581     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
200809     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
200933     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

userId  9       10      ...  200156  200174  200323  200349  200432  200443  \
userId                  ...
1          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
2          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
3          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
4          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
5          0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
...        ...     ...  ...     ...     ...     ...     ...     ...     ...
200443     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     1.0
200488     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
200581     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
200809     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
200933     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0

userId  200488  200581  200809  200933
userId
1          0.0     0.0     0.0     0.0
2          0.0     0.0     0.0     0.0
3          0.0     0.0     0.0     0.0
4          0.0     0.0     0.0     0.0
5          0.0     0.0     0.0     0.0
...        ...     ...     ...     ...
200443     0.0     0.0     0.0     0.0
200488     1.0     0.0     0.0     0.0
200581     0.0     1.0     0.0     0.0
200809     0.0     0.0     1.0     0.0
200933     0.0     0.0     0.0     1.0

[7900 rows x 7900 columns]

In [151]:
target_user_id = 1
similar_users = user_similarity_df.loc[target_user_id]

weighted_ratings = user_item_matrix.T.dot(similar_users)
similarity_sum = similar_users.sum()

cf_scores = weighted_ratings / similarity_sum
print(f"Collaborative Filtering Scores for User {target_user_id}:")
print(cf_scores)

Collaborative Filtering Scores for User 1:
title
"BLOW THE NIGHT!" Let's Spend the Night Together    0.0
#Female Pleasure                                    0.0
#FriendButMarried 2                                 0.0
$                                                   0.0
$5 a Day                                            0.0
                                                   ...
Поэма о крыльях                                     0.0
Тугой узел                                          0.0
ארבינקא                                             0.0
チェブラーシカ                                             0.0
ユニコ 魔法の島へ                                           0.0
Length: 7805, dtype: float64

In [152]:
user_rated_movies = user_item_matrix.loc[target_user_id] > 0
unrated_movies = ~user_rated_movies

# Recommend top movies based on CF scores
recommended_movies = cf_scores[unrated_movies].sort_values(ascending=False).head(10)
print("Top Recommended Movies (CF):")
print(recommended_movies)

Top Recommended Movies (CF):
title
"BLOW THE NIGHT!" Let's Spend the Night Together    0.0
Reach the Rock                                      0.0
Red Shoes and the Seven Dwarfs                      0.0
Red Nose Day Actually                               0.0
Red Nightmare                                       0.0
Red Meadows                                         0.0
Red Lights                                          0.0
Red Letter Day                                      0.0
Red Doors                                           0.0
Red Dawn                                            0.0
dtype: float64